.BuildControl {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid var(--green);
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: var(--magenta-lighter);
  border: 1px solid var(--magenta);
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: var(--magenta-lighter);
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: var(--magenta-light);
  color: #fff;
}

.BuildControl .More {
  background-color: var(--green-darker);
  color: #fff;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: var(--magenta);
  color: #fff;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: var(--green-dark);
  color: #fff;
}
