.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 720px) {
  .CheckoutSummary {
    max-width: 600px;
  }
}

.CheckoutSummary h1 {
  color: var(--magenta);
  -webkit-text-stroke: .02em var(--magenta-lighter);
}

.CheckoutOptions {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  background: #fff;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}