.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 600px;
  }
}

.CheckoutSummary h1 {
  color: var(--salad);  
  -webkit-text-stroke: .02em var(--salad-light);
}