.BreadBottom {
  height: 13%;
  width: 80%;
  background: linear-gradient(var(--orange), var(--orange-dark));
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 var(--orange-darker);
  margin: 2% auto;
}

.BreadTop {
  height: 20%;
  width: 80%;
  background: linear-gradient(var(--orange-dark), var(--orange));
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 var(--orange-darker);
  margin: 2% auto;
  position: relative;
}

.Seeds1 {
  width: 8%;
  height: 12%;
  position: absolute;
  background-color: var(--orange-lighter);
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px var(--orange-light);
}

.Seeds1:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--orange-lighter);
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px var(--orange-light);
}

.Seeds1:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--orange-lighter);
  left: 180%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px var(--orange-light);
}

.Seeds2 {
  width: 8%;
  height: 12%;
  position: absolute;
  background-color: var(--orange-lighter);
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 var(--orange-light);
}

.Seeds2:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--orange-lighter);
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px var(--orange-light);
}

.Falafel {
  width: 80%;
  height: 7%;
  background: linear-gradient(
    45deg,
    var(--orange-darker) 50%,
    var(--orange-light) 0
  );
  background-size: 30px 30px;
  margin: 2% auto;
  border-radius: 15px;
}

.Tofu {
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: linear-gradient(var(--orange-lighter), var(--orange-light));
  border-radius: 20px;
}

.Salad {
  width: 85%;
  height: 7%;
  margin: 2% auto;
  background: linear-gradient(var(--green-dark), var(--green-darker));
  border-radius: 20px;
}

.Beetroot {
  width: 80%;
  height: 3%;
  background: linear-gradient(var(--magenta-dark), var(--magenta-darker));
  margin: 2% auto;
}
