:root {
    --vegan-brown: #966909;
    --burger-brown: #8f5c2c;
    --vegan-cyan: #40a4c8;
    --vegan-seeds: #cf8f2e;
    --vegan-tofu: #f0de85;
    --salad-light: #91ce50;
    --salad: #228c1d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
