:root {
  --green: #90FF00;
  --green-lighter: #D7FFA4;
  --green-light: #C1FF70;
  --green-dark: #70C600;
  --green-darker: #569800;

  --blue: #0ABBFF;
  --blue-lighter: #A7E7FF;
  --blue-light: #76D9FF;
  --blue-dark: #006388;
  --blue-darker: #004C69;

  --orange: #FF8500;
  --orange-lighter: #FFD3A4;
  --orange-light: #FFBA70;
  --orange-dark: #D97100;
  --orange-darker: #A75700;

  --magenta: #FF006B;
  --magenta-lighter: #FFA4CA;
  --magenta-light: #FF70AC;
  --magenta-dark: #B9004E;
  --magenta-darker: #8E003C;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  background-image: linear-gradient(90deg, rgba(10, 187, 255, .5) 50%, transparent 0),
                    linear-gradient(rgba(10, 187, 255, .5) 50%, transparent 0);
  background-size: 30px 30px;
}
