:root {
    --vegan-brown: #966909;
    --burger-brown: #8f5c2c;
    --vegan-cyan: #40a4c8;
    --vegan-seeds: #cf8f2e;
    --vegan-tofu: #f0de85;
    --salad-light: #91ce50;
    --salad: #228c1d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  background-image: linear-gradient(90deg, rgba(64, 164, 200, .5) 50%, transparent 0),
                    linear-gradient(rgba(64, 164, 200, .5) 50%, transparent 0);
  background-size: 30px 30px;
}
